# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# SQLite database file
*.db

# Flask uploads
static/uploads/

# VSCode and OS junk
.vscode/
.DS_Store
*.swp
